.excel__toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  height: 40px;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  padding: 7px 10px;
  display: flex;
}

.excel__toolbar .button {
  margin-left: 10px;
}

.excel__toolbar .btn_s {
  margin-left: 10px;
}
